<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Mafia"
        tools:targetApi="31" >
        <activity
            android:name=".multiplayerActivities.ConnectGameRoom"
            android:exported="false" />
        <activity
            android:name=".multiplayerActivities.CreateGameRoom"
            android:exported="false" />
        <activity
            android:name=".DistributionRoles"
            android:exported="false" />
        <activity
            android:name=".multiplayerActivities.MultiplayerMenu"
            android:exported="false" />
        <activity
            android:name=".commonActivities.GameSettings"
            android:exported="false" />
        <activity
            android:name=".commonActivities.GameRules"
            android:exported="false" />
        <activity
            android:name=".commonActivities.MainMenu"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>